<h3>Bonjour {{ user }}!</h3>
<p>
    Vous trouverez ci-dessous le lien pour les photos et vidéos :
</p>
<p>
    <code>
        <b>
            <a href="https://drive.google.com/drive/folders/0BzOWcOCzePzTSzRLTmFVMDFPOHM?resourcekey=0-iLj4-YqX5cggqazBJQxd7A">Photos & vidéos</a>
        </b>
    </code>
</p>
<p>
    Si vous aviez la gentillesse de mettre un avis sur TripAdvisor et/ou Google, l'équipe de Planetair974 vous en remercie : 
</p>
<p>
    <code>
        <a href="https://www.tripadvisor.fr/Attraction_Review-g298471-d3558149-Reviews-Planetair974-Saint_Pierre_Arrondissement_of_Saint_Pierre.html">Laisser un avis sur TripAdvisor </a> - <a href="https://g.page/r/CV2yrTPn9F5yEB0/review">Laisser un avis sur Google </a>
    </code>
</p>
<p>Merci.</p>
<p>
    PLANETAIR974<br/>
    ULM - ÎLE DE LA RÉUNION<br/>
    TEL: +262 (0)6 92 61 92 04<br/>
    <a href="mailto:planetair974@gmail.com">Nous écrire</a> - <a href="https://www.planetair974.fr">Planetair974.fr</a>
</p>