@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: Poppins;
    }

    .main-title {
        color: #EE4222;
    }

    a.discreet-link {
        color: black!important;
    }

    a {
        @apply no-underline text-cyan-700;
        color: #EE4222;
    }

    footer {
        position: absolute;
        bottom: 0;
        margin-left: 2%!important;
        margin-right: 2%!important;
        width: 96%;
        background-color: #F9FAFB;
    }

    .form-error-message {
        font-size: 0.7rem;
        color: #EE4222;
        font-style: 'italic';
    }
}

@layer utilities {
    .bg-spider-cover {
        @apply bg-cyan-700 bg-center bg-no-repeat;
        background-image: url("../public/api-platform/web.svg");
        background-size: 110%;
    }
    .ribbon {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(13.397459%, -100%) rotate(30deg); /* translateX: 100%*(1-cos(angleRotation) */
        transform-origin: bottom left;
  }
}
